<h1 style="text-align:center;">Welcome to iRetail</h1>

<br/>
<p> iRetail is an online service by Basaveshwara Marketing Inc. A complete ERP service to maintain retail buisness on Cloud. Customers can mantain all ledgers, transaction , daya to day point of sales, inventory management, CRM.
Register for Online demo or contact sales for further details.
</p>







