.navbar-default.navbar-static-top{
	background-color: #3A6094;
}

#left-panel{
	background-color: rgba(58, 96, 148, 0.66);
}

#left-panel ul li {
overflow: hidden;
border-bottom: 1px solid #54687C;
border-top: 1px solid #88A2BB;
}



#left-panel ul ul {
margin: 0;
display: none;
background: #31485E;
padding: 7px 0;
}

#left-panel>ul>li>a:hover {
color: #ffffff;
}

#left-panel ul .active>a {
color: #fff!important;

}

#left-panel ul li ul li a:hover {
color: white!important;
}

body{
	background-color : #eef0f0;
	color:#27484f;

}

.power-widget.power-widget-color-greyDark .power-widget-header {
background: #4C4F53;
color: #FFF;
}


.dropdown-menu.inverse {
background-color: #31485E;
}

.music-dropdown > span:first-child {
background-color: transparent!important;
color: #27484F!important;
}


.music-dropdown .player_control {
color: #31485E;
}

.music-dropdown {
 color: #31485E; 
}